<header class="sticky top-0 z-49 w-full border-b bg-background">
  <div class="container-wrapper">
    <div class="container items-center flex h-14">
      <div class="flex flex-1 justify-end items-center">
        <%= render ThemeSwitcher.new %>
      </div>
    </div>
  </div>
</header>